a {
    text-decoration: none;
    color: blue;
  }
  
  body {
    padding: 2em;
    font-size: 1.25em;
    max-width: 600px;
    margin: 0 auto;
  }
  
  section {
    margin: 0.2em;
    padding: 0.5em ;
    border: 4px solid #3B5998;
    border-radius: 1.5em;
    box-shadow: 5px  #3B5998;
  }
  
  small::before {
    content: "\00b7";
  }
  
  .u-hiddenVisually {
     border: 0!important;
     clip: rect(1px,1px,1px,1px)!important;
     font-size: 1px!important;
     height: 1px!important;
     overflow: hidden!important;
     padding: 0!important;
     position: absolute!important;
     width: 1px!important;
  }